body {
    font-family: Arial, sans-serif;
    background-color: #4444cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    padding-left: 90px;
    color: #000000; /* Standardfarbe der Überschrift */
    max-width: 300px;
    max-height: 80px;
    animation: 1.5s coresDancantes linear infinite; /* Animation nur auf die Überschrift anwenden */
}

/* Hier kannst du die Animation definieren */
@keyframes coresDancantes {
    0% {
        color: rgb(255, 0, 0); /* Rot */
    }
    25% {
        color: rgb(0, 255, 0); /* Grün */
    }
    50% {
        color: rgb(0, 0, 255); /* Blau */
    }
    75% {
        color: rgb(255, 255, 0); /* Gelb */
    }
    100% {
        color: rgb(255, 0, 255); /* Magenta */
    }
}

form {
    background-color: #fff;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

input[type="file"] {
    margin: 10px;
    padding-left: -20px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    background-color: #fff;
}

input, select {
    font-style: oblique;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    max-width: 250px;
}

button {
    background-color: #333;
    color: #fff;
    border-color: #74ee64;
    cursor: pointer;
    padding: 10px 55px;
    margin-bottom: 3px;
    transition: background-color 0.3s ease;
    max-width: 250px;
    
}

button:hover {
    transition: background-color 0.3s ease;
    background-color: #2ada13;
    animation: 1.5s coresDancantes linear infinite;
}

#meme-image, #memeOfTheDay {
    margin: 20px;
    max-width: 100%;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#meme-image:hover, #memeOfTheDay:hover {
    transform: scale(1.05);
}

#meme-gallery {
    display: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#meme-gallery img {
    display: center;
    max-width: 150px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 5px;
}

#meme-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Handy-Simulator */
.phone-container {
    width: 480px;
    height: 600px;
    background-color: #000;
    border-radius: 36px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.phone-screen {
    width: 440px;
    height: 560px;
    background-color: white;
    border-radius: 24px;
    overflow: auto;
    padding: 20px;
}

/* Scrollbar-Styling für Webkit-basierte Browser */
.phone-screen::-webkit-scrollbar {
    width: 7px; 
}

.phone-screen::-webkit-scrollbar-track {
    background: #f0f0f5;
    border-radius: 15px; 
}

.phone-screen::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 10px; 
    border: 0.5px solid #f0f0f5; 
}

.phone-screen::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, var(--cores-dancantes-1), var(--cores-dancantes-2), var(--cores-dancantes-3), var(--cores-dancantes-4));
}
